# FastAPI Backend
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9

# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1





# Database
sqlalchemy
pymysql
psycopg2-binary

# Redis
redis

# Environment
python-dotenv>=1.0.0
pydantic>=2.9.0
pydantic-settings>=2.5.0

# LangChain
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
langchain-huggingface>=0.1.0
langchain-chroma>=0.1.4
langchain-groq>=0.2.0

# Vector DB
chromadb>=0.5.0
pysqlite3-binary>=0.5.0; sys_platform == "linux"

# Embeddings
sentence-transformers>=3.0.0

# Document Processing
pypdf>=5.0.0
python-docx>=1.1.0
beautifulsoup4>=4.12.0
requests>=2.32.0

# Utilities
tiktoken>=0.8.0

# Testing
pytest>=8.3.0




